body {
  font-family: 'Lato', sans-serif;
}

.button{
    position: fixed;
    top: 35px;
    right: 15px;
    transform: translate(0, -50%);
    margin-right: 10px;
    float: right;
    color: #fff;
    visibility: hidden;
}

@media only screen and (max-width: 800px) {
  .button{
    visibility: visible;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay a {
  display: flex;
  padding: 20px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  transition: 0.3s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  margin-top: 30px;
}

.overlay-content a {
  display: flex;
  padding: 20px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
    display: block;
    position: relative;
    padding: 10px;
    margin-right: 10px;
    float: right;
    color: #fff;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
  font-size: 20px
  }
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}