body {	
    background-attachment: fixed;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #333;
	color: #fff;
	padding: 15px;
	z-index: 999;
}

h1 {
	margin: 0;
	padding: 0 15px;
}

h2 {
	margin-top: 30px;
	text-align: center;
}

nav ul {
	margin: -30px 28px;
	padding: 0;
	float: right;
	list-style: none;
}

nav li {
	display: inline-block;
	padding: 20px 2px;
	margin-top: -20px;
	margin-right: 20px;
}

nav ul li a{
	color: #ffffff;
	font-size: 18px;
	text-transform: uppercase;
	border: 1px solid transparent;
	margin: 0;
	padding: 10px;
	border-radius: 3px;
}

.active{
	color: #ffffff;
	border: solid;
	border-width:0 0 4px 0;
}
nav ul li:not(.active):hover{
	background: #676767;
	transition: background-color 0.4s ease;
	border-radius: 10px;
}

nav ul li:not(.active) a{
	opacity: 0.7;
	transition: color 0.9s ease;
}

nav ul li.active:hover{
	color:inherit;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
}

.about {
	padding: 50px;
}


@media only screen and (max-width: 800px) {
	header {
		padding: 10px;
		margin: 0;
		height: 8%;
	}

	nav li {
		display: block;
		visibility: hidden;
		/*margin-bottom: 10px;*/
	}

	h2 {
		margin-top: 7%;
	}

	.about {
		padding: 30px;
	}
}

/*Home*/
.home-container{
	display: flex;
    justify-content: center;
    align-items: center;
	/* flex-wrap: wrap; */
	flex-direction: column;
  	align-items: center;
	padding: 0 20px;
	height: 100vh;
	background-color:#dddada;
	margin: 0 30px;
}

.banner-container{
	display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
  	align-items: center;
	padding: 20px 0;
}

.image-container{
	align-items: center;
	margin-top: 40px;
	padding: 10px;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: #065066;
	overflow: hidden;
}

.image-container img{
	display: block;
	width: 300px; 
  	height: auto; 
}

.banner-text{
	padding: 10px 20px;
}

.banner-text h1{
    color: #065066;
    font-size: 34px;
    text-align: center;
    margin-bottom: -30px;
}

.banner-text p{
	flex-direction: column;
	white-space: pre-line;
	width: 100%;
	color: #114859;
    font-size: 22px;
    line-height: 1.5;
	text-align: center;
	/* margin-bottom: -10px; */
}

.button-container{
	display: grid;
	padding: 10px 20px;
	justify-items: center;
}

button {
	cursor: pointer;
	position: relative;
	padding: 15px 40px;
	font-size: 18px;
	color: #dddada;
	border: 2px solid #21687d;
	border-radius: 34px;
	background-color: #114859;
	font-weight: 600;
	transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
	overflow: hidden;
  }
  
button::before {
	content: '';
	position: absolute;
	inset: 0;
	margin: auto;
	width: 60px;
	height: 60px;
	border-radius: inherit;
	scale: 0;
	z-index: -1;
	background-color: #dddada;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

button:hover::before {
	scale: 3;
}

button:hover {
	color: #114859;
	scale: 1.1;
	box-shadow: 0 0px 10px #114859;
}

button:active {
	scale: 1;
}
    
.portfolio-container{
	margin: 0 30px;	

}
.portfolio{
	padding: 10px 100px;
	background-color: #dddada;	
}

.portfolio h2{
	color: #212121;
	background-color:#EEE;
	box-sizing: border-box;
	box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
	padding: 10px 20px;
}

.radio-inputs {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-radius: 0.5rem;
	background-color: #EEE;
	box-sizing: border-box;
	box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
	padding: 0.25rem;
	width: 300px;
	font-size: 14px;
  }
  
  .radio-inputs .radio {
	flex: 1 1 auto;
	text-align: center;
  }
  
  .radio-inputs .radio input {
	display: none;
  }
  
  .radio-inputs .radio .name {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	border: none;
	padding: .5rem 0;
	color: rgba(51, 65, 85, 1);
	transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
	background-color: #114859;
	color: #dddada;
	font-weight: 600;
  }


.gallery-container{
	display: flex;
    justify-content: center;
	align-content: center;
    align-items: center;
	flex-wrap: wrap;
  	align-items: center;
	background-color: #0b4851;
	border-radius: 15px;
}

.gallery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	height: 400px;
	background: #e8e8e8;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	color: #212121;
	border: 2px solid #065066;
	transition: all .5s ease;
	padding: 10px 20px;
	margin: 25px 30px;
  }
  
  .image {
	display: flex;
	width: 100%;
	height: 200px;
	border-radius: 15px;
	justify-content: center;
	background-color: #0b4851;
}

.image img{
	height: 200px;
	width: auto;
}
  
  .image__info {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	padding: 15px;
	gap: 3px;
  }

  .title {
	font-weight: 600;
	font-size: 17px;
	color: black;
  }
  
  .content {
	font-size: 14px;
  }
  
  .gallery:hover {
	box-shadow: 5px 5px 10px 0px #065066;
  }
  
  .gallery:hover .image {
	filter: brightness(.8);
  }
  
  .gallery:hover .title {
	color: #0d627b;
  }